@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div:first-child {
    height: 100%;
    cursor: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

a, label, button {
    cursor: none;
}
