@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div:first-child {
    height: 100%;
    cursor: none;
    overflow-y: hidden;
    scroll-behavior: smooth;
    font-weight: 300;
}

a, label, button {
    cursor: none;
}

html {
    --primary: #353535;
}

html.dark {
    --primary: #f7f5f2;
}

/* hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}
